.header {
  height: 50vh;
  background-image: linear-gradient(#00000049, #00000049),
    url(../../../public/images/image-hero-desktop.jpg);
  background-position: center;

  .container {
    max-width: 1100px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 3rem 0;

    img {
      width: 20%;
    }

    nav {
      a {
        // font-size: 1.2rem;
        color: #fff;
        text-decoration: none;
        transition: filter 0.2s;

        &:hover {
          filter: brightness(0.8);
        }

        & + a {
          margin-left: 2rem;
        }
      }
    }
  }
}
